#LIBRARY

In [1]:
import pandas as pd 
import sqlite3

#LOAD DATA

In [ ]:
df = pd.read_csv('output_filename.csv', encoding='iso-8859-1',header=0)
print(df)

       Unnamed: 0                                          old_tweet  \
0               0  - disaat semua cowok berusaha melacak perhatia...
1               1  RT USER: USER siapa yang telat ngasih tau elu?...
2               2  41. Kadang aku berfikir, kenapa aku tetap perc...
3               3  USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...
4               4  USER USER Kaum cebong kapir udah keliatan dong...
...           ...                                                ...
13164       13164  USER jangan asal ngomong ndasmu. congor lu yg ...
13165       13165                       USER Kasur mana enak kunyuk'
13166       13166  USER Hati hati bisu :( .g\n\nlagi bosan huft \...
13167       13167  USER USER USER USER Bom yang real mudah terdet...
13168       13168  USER Mana situ ngasih(": itu cuma foto ya kuti...

                                               new_tweet
0       di saat semua cowok berusaha melacak perhatia...
1       siapa yang telat memberi tau kamu edan sarap ...
2      41 kadang aku berpikir kenapa aku tetap percay...
3       aku itu aku dan ku tau matamu sipit tapi dili...
4       kaum cebong kafir sudah kelihatan dongoknya d...
...                                                  ...
13164   jangan asal berbicara ndasmu congor kamu yang...
13165                            kasur mana enak kunyuk
13166   hati hati bisu tidak dan lagi bosan duh xf0 x...
13167   bom yang real mudah terdeteksi bom yang terku...
13168     mana situ memberi itu cuma foto ya kutil onta

[13169 rows x 3 columns]

In [ ]:
df.head(5)

,Unnamed: 0,old_tweet,new_tweet
0,0,- disaat semua cowok berusaha melacak perhatia...,di saat semua cowok berusaha melacak perhatia...
1,1,RT USER: USER siapa yang telat ngasih tau elu?...,siapa yang telat memberi tau kamu edan sarap ...
2,2,"41. Kadang aku berfikir, kenapa aku tetap perc...",41 kadang aku berpikir kenapa aku tetap percay...
3,3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,aku itu aku dan ku tau matamu sipit tapi dili...
4,4,USER USER Kaum cebong kapir udah keliatan dong...,kaum cebong kafir sudah kelihatan dongoknya d...

#CLEAN DATA

In [ ]:
df_new = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [ ]:
df_new.head(5)

,old_tweet,new_tweet
0,- disaat semua cowok berusaha melacak perhatia...,di saat semua cowok berusaha melacak perhatia...
1,RT USER: USER siapa yang telat ngasih tau elu?...,siapa yang telat memberi tau kamu edan sarap ...
2,"41. Kadang aku berfikir, kenapa aku tetap perc...",41 kadang aku berpikir kenapa aku tetap percay...
3,USER USER AKU ITU AKU\n\nKU TAU MATAMU SIPIT T...,aku itu aku dan ku tau matamu sipit tapi dili...
4,USER USER Kaum cebong kapir udah keliatan dong...,kaum cebong kafir sudah kelihatan dongoknya d...

In [ ]:
df_new.shape

(13169, 2)

#EXPORT NEW DATA

In [ ]:
df_new.to_csv('output_filename_cleann.csv')

#CREATE DATABASE

In [ ]:
try:
    conn = sqlite3.connect('datacleaning.db')
    cursor = conn.cursor()
    print("Database created and Successfully Connected to SQLite")

    sqlite_select_Query = "select sqlite_version();"
    cursor.execute(sqlite_select_Query)
    record = cursor.fetchall()
    print("SQLite Database Version is: ", record)
    cursor.close()

except sqlite3.Error as error:
    print("Error while connecting to sqlite", error)

Database created and Successfully Connected to SQLite
SQLite Database Version is:  [('3.22.0',)]

In [ ]:
create_sql = "CREATE TABLE IF NOT EXISTS testing(old_tweet TEXT, new_tweet TEXT)"
cursor = conn.cursor()
cursor.execute(create_sql)

In [ ]:
for row in df_new.itertuples():
    cursor.execute('''
                INSERT INTO testing (old_tweet, new_tweet)
                VALUES (?,?)
                ''',
                (row.old_tweet, 
                row.new_tweet,
                ))
conn.commit()
conn.close()
print("The SQLite connection is closed")

The SQLite connection is closed